* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --light-grey: #ededed;
    --dark-grey: #c6c6c6;
}

body {
    background-color: var(--light-grey);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
}

/* Conatins main content on page */
.container {
    width: 375px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--black);
    border-radius: 8px;
}

header {
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 0 10px;
    border-bottom: 1px solid var(--dark-grey);
    border-radius: 8px 8px 0 0;
}

/* Post styles */
#post {
    background-color: var(--white);
    width: 100%;
    margin-bottom: 20px;
}

#post:last-child {
    border-radius: 0 0 8px 8px;
    margin-bottom: 0;
}

/* post images */
.logo {
    height: 80%;
}

.avatar {
    border-radius: 50%;
    height: 34px;
}

.icon,
i {
    height: 25px;
    font-size: 25px;
    padding: 0 6px;
    transition: opacity .4s ease;
}

i {
    padding-left: 0;
}

.icon:hover,
i:hover {
    opacity: 0.5;
}

.fa-solid,
.fa-solid:hover {
    color: red;
    opacity: 1;
}

/* post sections */
.post-header,
.post-interaction,
.post-likes,
.post-comments  {
    display: flex;
    padding: 10px;
}

.post-name {
    margin-left: 10px;
}

.post-author {
    font-weight: 700;
}

.post-location {
    font-weight: 400;
}

.post-content img{
    width: 100%;
}

.post-likes,
.post-comments {
    padding-top: 0;
}

/* Generic classes */
.bold {
    font-weight: 900;
    padding-right: 4px;
}

